<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container" [formGroup]="myForm">
  <h2 mat-dialog-title>{{data.title}}</h2>

   <!-- Input Html -->
  <mat-grid-list cols="2" rowHeight="2:1" *ngIf="data.Type == 'Input'">

    <mat-grid-tile>
      <h2>Input Type</h2>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <!-- <mat-label>Input Type</mat-label> -->
        <mat-select formControlName="inputType">
          <mat-option>--Select one--</mat-option>
          <mat-option *ngFor="let inputType of inputTypes" [value]="inputType.value">
            {{inputType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <h2>Value</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <!-- <mat-label>Value</mat-label> -->
        <input  matInput autocomplete="off" formControlName="value">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- CheckBox Html -->

  <mat-grid-list cols="2" rowHeight="2:1" *ngIf="data.Type == 'CheckBox'">
    <mat-grid-tile>
      <h2>CheckBox Label</h2>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>CheckBox Label</mat-label>
        <mat-select formControlName="checkBoxType">
          <mat-option>--Select one--</mat-option>
          <mat-option *ngFor="let inputType of checkboxTypes" [value]="inputType.value">
            {{inputType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

  <!-- Button Html -->

  <mat-grid-list cols="2" rowHeight="2:1" *ngIf="data.Type == 'Button'">
    <mat-grid-tile>
      <h2>Button Type</h2>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Button Type</mat-label>
        <mat-select formControlName="buttonType">
          <mat-option>--Select one--</mat-option>
          <mat-option *ngFor="let inputType of buttonTypes" [value]="inputType.value">
            {{inputType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
  <button mat-button  class="save-btn" *ngIf="data.submitButton" (click)="save($event)">Save</button>
</mat-dialog-actions>