<div class="container">

  <!-- Header start -->
  <mat-toolbar class="toolbar">
    <nav>
      <button mat-button [matTooltip]="' home'" class="logo">
        SAMPLE LOGO
      </button>
    </nav>

    <span class="spacer"></span>

    <button mat-button [ngClass]="publishButtonShow ? 'publish-btn' : 'download-btn'" (click)="publishIconClick($event)">
      <div *ngIf="publishButtonShow">PUBLISH</div>
      <div *ngIf="DownloadButtonShow" class="download-txt">
        DOWNLOAD
        <mat-icon class="download">cloud_download</mat-icon>
      </div>
      
    </button>
  </mat-toolbar>
  <!-- Header ends -->

  <!-- Layout start -->
  <mat-sidenav-container class="sidenav-container">

    <!-- Left panel start -->
    <mat-sidenav [mode]="'side'" fixedTopGap="56" [opened]="'true'" class="left-panel">
      <div class="panel-container" *ngIf="leftPanelShow">
        <h2 class="panel">LEFT PANEL</h2>

        <div cdkDropList #leftPanelButtonsList="cdkDropList" [cdkDropListData]="leftPanelButtons"
          [cdkDropListConnectedTo]="[workspaceList]" (cdkDropListDropped)="drop($event)"
          cdkDropListEnterPredicate="false">

          <div class="row">
            <div class="column" *ngFor="let item of leftPanelButtons" cdkDrag>
              {{item}}
            </div>

          </div>
        </div>

      </div>
    </mat-sidenav>
    <!-- Left panel ends -->

    <!-- Workspace starts -->
    <mat-sidenav-content>
      <h2 class="panel">WORKSPACE</h2>

      <div cdkDropList #workspaceList="cdkDropList" [cdkDropListData]="workspace"
        [cdkDropListConnectedTo]="[leftPanelButtonsList]" class="workspace-div" (cdkDropListDropped)="drop($event)">
        <div class="mini-div">
          <div class="box div-container" *ngFor="let item of workspace" cdkDrag>
            <div *ngIf="item==='Input Box'">
              <mat-form-field>
                <input matInput placeholder="Input Field" autocomplete="off" (click)="inputClicked($event)"
                  [value]="inputvalue">
              </mat-form-field>
            </div>

            <div *ngIf="item==='Select Box'">
              <mat-form-field>
                <mat-label>Select Option</mat-label>
                <mat-select>
                  <mat-option *ngFor="let work of works" [value]="work.value">
                    {{work.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="dragged-element" *ngIf="item==='Check Box'" (click)="checkBoxClicked($event)">
              <mat-checkbox >{{checkboxlabel}}</mat-checkbox>
            </div>

            <div class="dragged-element" *ngIf="item==='Radio Button'">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button  value="1">Option 1</mat-radio-button>
                <mat-radio-button  value="2">Option 2</mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="item==='Button'" (click)="buttonClicked($event)">
              <button mat-flat-button class="workspace-btn">{{Button}}</button>
            </div>

          </div>
        </div>
      </div>
    </mat-sidenav-content>
    <!-- Workspace ends -->

    <!-- Right panel starts -->
    <mat-sidenav [mode]="'side'" fixedTopGap="56" [opened]="'true'" position="end">
      <div class="panel-container" *ngIf="jsonStructurShow">
        <h2 class="panel">JSON STURCTURE</h2>

        <div class="json-array">
          [
          <div *ngFor="let item of jsondata" class="json-data">
            {{ item | json }}
          </div>
          ]
        </div>
      </div>
    </mat-sidenav>
    <!-- Right panel ends -->

  </mat-sidenav-container>
  <!-- Layout ends -->

</div>