$font-color: #fefefe;
$font-size: 14px;
$header-color: #d3d3d3;
$logo-color: #939393;
$border-radius: 4px;
$btn-color: #262626;
$left-panel-color: #eadada;
$panel-width: 300px;
$border: solid 1px #ccc;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  background-color: $header-color;
}

.logo {
  height: 40px;
  width: 140px;
  position: relative;
  left: 20px;
  color: $font-color;
  background-color: $logo-color;
  border-radius: $border-radius;
  cursor: auto;
}

.font-style {
  color: white;
  display: inline-block;
  font-weight: 600;
  font-family: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final, Segoe UI,
    "Segoe UI Web (West European)", Segoe, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
}

.spacer {
  flex: 1 1 auto;
}

.publish-btn {
  background-color: $btn-color;
  color: $font-color;
  border-radius: $border-radius;
}

.sidenav-container {
  flex: 1;
}

.left-panel {
  background-color: $left-panel-color;
}

.panel-container {
  width: $panel-width;
  overflow: hidden;
}

.workspace-div {
  border: 1px dashed #ccc;
  border-radius: $border-radius;
  width: 50%;
  min-height: 60px;
  min-width: 100px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 100px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: $border-radius;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.panel {
  color: #909090;
  text-align: center;
  margin-top: 20px;
}

.json-data {
  white-space: pre-wrap;
  margin-left: 30px;
}

.div-container {
  position: relative;
  left: 12px;
}

* {
  box-sizing: border-box;
}

.row {
  position: relative;
  left: 35px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 28%;
  padding: 10px;
  border: 1.5px solid black;
  margin: 5%;
  background: white;
  text-align: center;
  border-radius: 6px;
  height: 65px;
  white-space: pre-wrap;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.mini-div {
  width: 60%;
  margin: 0 auto;
}

.workspace-btn {
  border: 2px solid #b7b7b7;
  border-radius: $border-radius;
  background-color: #e2e2e2;
  width: 80%;
}

.dragged-element {
  margin: 10px 0px;
}

.json-array {
  position: relative;
  left: 20px;
}

.mat-drawer-side.mat-drawer-end {
  border-left: 2px solid #949494;
}

.download{
   position: relative;
   top:4px;
}

.download-btn{
  height: 64px;
  position: relative;
  left: 12px;
  background-color: $logo-color;
}

.download-txt{
  position: relative;
  top:2px;
  color: $font-color;
}
